@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0B62FF;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3c6fc7;
}
body{
  overflow-x: hidden;
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0880e8;
  border-top-color: #bfe0fd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #fff;
}

.container-fluid1 {
  width: 100% !important;
  /* z-index: 1111; */
}

.tales {
  width: 100%;
  height: 100%;
}
.carousel-inner {
  height: 100% !important;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* nav-bar */

.nav-bar {
  position: fixed;
  top: 0;
  z-index: 11;
}

.blue-container {
  background-color: #0B62FF;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.blue-container ul li {
  display: inline-block;
  border-style: none solid none none;
  border-width: 1px;
  border-color: #fff;
  border-collapse: collapse;
  padding: 0 5px;
}

.blue-container ul li:last-child {
  border: none;
}
.blue-container ul a i {
  font-size: 18px;
  padding-right: 5px;
}
.blue-container ul a {
  color: #fff;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}


.navbar .navbar-brand .logo{
width: 150px;
height: auto;
}
.nav-link {
  transition: 0.2s ease;
  text-transform: uppercase;
}
.nav-item {
  padding: 0px 5px 0px 5px;
  
}
.navbar .active {
  color: #3090f0 !important;
}
.nav-link:hover {
  color: #3090f0 !important;
}
.dropdown-menu{
  padding: 1rem;
  min-width: 15rem;
 
}
/* .dropdown:hover .dropdown-menu {
  display: block;
} */
@media (max-width: 992px) {
  
  .navbar .navbar-brand {
    font-size: 18px;
  }
}

/* .dropdown:focus .dropdown-menu {
  display: none;
} */
.dropdown-item {
  font-size: 15px;
  padding: 10px;
}

.dropdown-item.active {
  color: #3090f0;
  background-color: transparent;
  transition: 0.5s ease-in-out;
}
.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item:active {
  padding-left: 20px;
  border-left: 2px solid #3090f0;
  color: #3090f0;
  background-color: transparent;
  transition: 0.5s ease;
}

.offset:hover,
.offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.offset {
  --color: #19bc8b;
  --hover: #1973bc;
}
.nav-item button:hover,
.nav-item button:focus {
  border-color: var(--hover);
  color: #fff;
}

.nav-item button {
  color: var(--color);
  transition: 0.25s;
}
.nav-item button {
  background: none;
  border: 2px solid;
  font: inherit;
  padding: 0.4em 1em;
}
.nav-item button i {
  font-size: 20px;
  padding-left: 5px;
}

html,
body,
.slider-container {
  height: 100%;
}
.swiper-container {
  height: 100%;
}
.swiper-wapper {
  height: 100%;
}
.swiper-slide1 {
  height: 86% !important;
}
.swiper-slide {
  height: 90%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#slider .slider-heading {
  text-align: center;
  font-size: 50px;
  color: #fff;
  font-weight: 800;
  text-shadow: 4px 5px #000;
  text-transform: uppercase;
}
#slider .stars {
  text-align: center;
}
#slider .stars i {
  font-size: 25px;
  color: goldenrod;
}

#slider .swiper-container {
  overflow-x: hidden;
}

#slider .stars1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 15%;
  width: 100%;
}
#slider .display-slider-sub-heading {
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-weight: 800;
  text-shadow: 3px 3px #000;
}

#slider .display-slider-heading {
  font-size: 80px;
  color: #fff;
  font-weight: 1000;
  text-align: center;
  text-shadow: 6px 6px #000;
  padding: 0;
  margin: 0;
}

#slider .display-slider-img {
  display: grid;
  place-items: center;
  width: 100%;
  z-index: 99999;
  position: absolute;
  bottom: -69px;
  overflow: visible;
}
#slider .no-reverse {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
#slider .reverse {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

@media (max-width: 992px) {
  .swiper-slide1 {
    height: 80% !important;
  }
  #slider .display-slider-heading {
    font-size: 40px;
    text-shadow: 3px 3px #000;
  }
  #slider .stars1 {
    top: 30%;
  }
  #slider .display-slider-sub-heading {
    font-size: 15px;
    text-shadow: 1px 1px #000;
  }
  #slider .slider-heading {
    font-size: 25px;
    text-shadow: 2px 2px #000;

    margin: 0;

    text-align: center;
  }
  #slider .no-reverse {
    flex-direction: column;
    justify-content: center;
  }
  #slider .reverse {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.abouts {
  background-color: rgb(238, 237, 237);
  display: grid;
  place-items: center;
}

span {
  color: red;
}
p {
  text-align: justify;
}
@media (max-width: 767.98px) {
  .blue-container {
    display: none;
  }
}

/* business Growth */

#business .boxs {
  padding: 2.5%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}
#business .box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  #business .box {
    flex-direction: column;
    width: 100%;
    flex-basis: auto;
    
  }

  #business .text-box,
  #business .icon-box {
    width: 100%;
  }
}

#business .icon-box {
  background-color: #4284f6;
  flex-basis: 30%;
  display: grid;
  place-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#business .icon-box img{
  width: 90px;
  height: auto;
  color: #fff;
 
}

#business .icon-box i  {
  font-size: 5rem;
  color: #fff;
}

#business .text-box {
  flex-basis: 70%;
  box-shadow: 1px 1px 47px #6d6d6d96;
  height: 100%;
}

#business .text-box .text-box-title {
  font-size: 16px;
  color: #4284f6;
  line-height: 20px;
  font-weight: bold;
}
#business .text-box p {
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
  line-height: 19px;
  font-size: 12px;
  font-weight: bold;
  text-align: justify;
}

#business .text-box ul {
  padding: 0;
  margin-bottom: 2rem;
}
#business .text-box ul li {
  font-size: 12px;
  line-height: 28px;
  text-transform: capitalize;
}

#business .text-box ul li::before {
  content: "\00BB \0020";
  font-weight: bolder;
}

/* services */

.services .owl-stage {
  display: flex;
}
@media (max-width: 576px) {
  .services .owl-carousel,
  .services .owl-carousel .owl-item,
  .services .owl-carousel .owl-stage-outer {
    width: 100%;
  }
}

.services .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services .card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
}

.services .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services .card2 .card-title {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid #ccc;
}

.services .card2 .card-text {
  font-size: 12px;
}

.services .card2 img {
  width: 10rem;
  height: auto;
  margin-top: 10px;
}

.services .own-prev,
.services .own-next {
  font-size: 250%;
  outline: none;
  border: none;
  background: none;
}

.services .own-prev {
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block !important;
}

.services .own-next {
  position: absolute;
  top: 40%;
  right: -25px;
  display: block !important;
}

/* client */
#clients{
  background: #F7FAFF;
}
.client .owl-stage .owl-item,
.client .owl-item div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client .owl-item img {
  width: 150px;
}
.client .owl-prev,
.client .owl-next {
  display: none;
}

/* subscribe here */

#subscribe {
  background: #ffb447;
  padding: 20px;
}
#subscribe .text {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 10px;
}
#subscribe .center {
  display: grid;
  place-items: center;
}

/*===========================================================================================
                                    Section why choose us CSS START
 ===========================================================================================*/
.wdp-why-choose-us-section {
  background-color: #4384f6;
  background-image: linear-gradient(0deg, #135cc8, #125eca);
}

.wdp-why-choose-us-section .wdp-why-choose-box.box-left {
  text-align: right;
}

.wdp-why-choose-us-section .wdp-why-choose-box .why-choose-item {
  margin-bottom: 30px;
  margin-right: 2px;
}

.wdp-why-choose-us-section .wdp-why-choose-box h4 {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.wdp-why-choose-us-section .wdp-why-choose-box p {
  font-size: 13px;
  color: #f1f1f1;
}

.wdp-why-choose-us-section .wdp-why-choose-box i {
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 50%;
}

.wdp-why-choose-us-section .wdp-why-choose-img {
  /* margin: 60px 0; */
  text-align: center;
}

.wdp-why-choose-us-section .wdp-why-choose-img img {
  width: 100%;
  height: 350px;
  width: 250px;
  margin: 0px auto;
}

.wdp-why-choose-us-section
  .wdp-why-choose-box
  .why-choose-item
  .why-choose-icon {
  text-align: center;
  background-color: #fb9939;
  border-radius: 50%;
  color: var(--white-color);
  height: 80px;
  width: 80px;
  display: table;
  border: 5px double var(--white-color);
  line-height: 65px;
}

.wdp-why-choose-us-section .wdp-why-choose-box .why-choose-item:hover {
  cursor: pointer;
}

.wdp-why-choose-us-section .wdp-why-choose-box .why-choose-item:hover i {
  -webkit-animation: wdp_pulse 1s infinite;
  -o-animation: wdp_pulse 1s infinite;
  animation: wdp_pulse 1s infinite;
  -webkit-box-shadow: 0 0 0 0 rgb(66, 132, 246);
  box-shadow: 0 0 0 0 rgb(66, 132, 246);
}
.wdp-why-choose-us-section
  .wdp-why-choose-box
  .why-choose-item
  .why-choose-icon
  img {
  height: 40px;
  text-align: center;
}

/*Mobile Devices Inc Iphone 5,6,7,8 Portrait*/
@media (max-width: 767px) {
  .wdp-why-choose-us-section
    .wdp-why-choose-box
    .why-choose-item
    .why-choose-icon {
    width: 50px;
    height: 50px;
  }
  .counters-item {
    min-height: 0px !important;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .wdp-why-choose-us-section .wdp-why-choose-box h4 {
    line-height: 30px;
  }

  .wdp-why-choose-us-section .wdp-why-choose-box p {
    line-height: 22px;
  }

  .wdp-why-choose-us-section .wdp-why-choose-box .why-choose-item {
    margin-bottom: 20px !important;
  }
  .wdp-why-choose-us-section
    .wdp-why-choose-box
    .why-choose-item
    .why-choose-icon {
    height: 50px;
    width: 50px;
  }
}
/*===========================================================================================
                                     Section why choose us CSS END
  ===========================================================================================*/

/*second-section*/
.about-welcome-content p {
  font-size: 14px;
  line-height: 28px;
  text-align: justify;
  color: #7b7b7b;
}
/* section.wdp-about-introduction {background-color: #fafafa!important;padding: 40px 0px 40px 0px;} */

@media (max-width: 768px) {
  .wdp-heading .main-title {
    font-size: 33px;
    text-align: center;
  }
  .wdp-heading .title-desc {
    font-size: 15px;
  }
  .wdp-heading .pre-title {
    font-size: 20px;
  }
}

.wdp-heading {
  margin-bottom: 50px;
}

.wdp-heading .pre-title {
  margin-bottom: 15px;

  padding: 0;

  font-size: 22px;

  text-transform: capitalize;
}

.wdp-heading .main-title {
  padding: 0;

  margin: 0 0 20px 0;

  font-size: 45px;

  font-weight: 600;

  text-transform: capitalize;
}

.wdp-heading .title-desc {
  margin: 0;

  padding: 0;

  font-size: 16px;

  color: #545454;

  padding: 0 20px;
}

.wdp-heading-white .pre-title {
  color: #f1f1f1;
}
.wdp-heading-white .main-title {
  color: #ffffff;
}
.wdp-heading-white .title-desc {
  color: #f1f1f1;
}

.btn-blue {
  background-color: var(--primary-color);

  color: var(--white-color);
}

.btn-blue:focus,
.btn-blue:hover {
  background-color: var(--primary-color-hover);

  color: var(--white-color);
}

.list-inline {
  margin-left: -5px;
}

.list-inline,
.list-unstyled {
  padding-left: 0;

  list-style: none;
}

.list-inline > li {
  display: inline-block;

  padding-right: 5px;

  padding-left: 5px;
}

.text-light {
  color: #fff;
}
.wdp-section {
  padding: 50px 0px;
  background-color: #fff;
}
.wdp-section-grey {
  background-color: #f7f7f7;
}
.wdp-section-blue {
  background-color: #f7faff;
}

.why-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

/* project Area */

.project-area {
  padding: 4rem 0;
}
.project-area .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}
.project-area .button-group button {
  margin: 0 0 5px 5px;
  font: normal 500 16px/130px;
  text-transform: uppercase;
}

.project-area .grid .our-project .title h4 {
  font-size: 20px;
}
.project-area .grid .our-project .title span {
  font-size: 15px;
}

.project-area .grid .our-project .img a img {
  transition: 0.2s ease-in-out;
}
.project-area .grid .our-project .img a {
  cursor: zoom-in;
}
.project-area .grid .our-project .img a:hover img {
  transform: scale(1.05);
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}
/* End project Area */

/* footer */

footer {
  padding: 25px 15px 25px 15px;
  background: #043168 !important;
}
footer .footer-box {
  padding-bottom: 15px;
}
footer .border-bottom-footer {
  border-bottom: 3px solid #ffb447;
  width: 45px;
  border-radius: 1px;
}
footer h4 {
  color: #fff;
  text-transform: uppercase;
}
footer ul {
  padding: 0;
}
footer #our-service ul li {
  padding: 5px;
  transition: 0.8s ease;
}
footer #our-service ul li::before {
  content: "\00BB \0020";
  color: #fff;
  font-size: 12px;
  padding-right: 5px;
}
footer #our-service ul li:hover::before {
  color: #ffb447;
}

footer #our-service ul li a {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}
footer #our-service ul li:hover {
  padding-left: 10px;
}
footer #our-service ul li:hover a {
  color: #ffb447;
}
.center {
  display: flex;
  place-items: center;
}
footer .p {
  color: #fff;
  font-size: 12px;
  text-align: justify;
}
footer .icons {
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

footer .icon-box {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer .icon-box .icons {
  flex-basis: 30%;
  margin-bottom: 10px;
}
footer .icon-box .icons img {
  height: 60px;
}

footer #links ul {
  list-style: none;
}

footer #links ul li {
  display: inline-block;
  padding-right: 10px;
}

footer #links ul li a {
  color: #fff;
  text-transform: capitalize;
}

footer #link-icons ul {
  list-style: none;
}
footer #link-icons ul li {
  display: inline-block;
  padding-right: 15px;
}
footer #link-icons ul li i {
  color: #fff;
  font-size: 24px;
}



/* ===================================SIMILAR SECTIONS============================== */


/* front section */
#front-section{
  background:#255dbed4 ;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem 0;
  color: #fff;  
 
}

#front-section.web-development{
  background-image: url('../img/bg/p4-1-1.png');
  background-blend-mode:multiply;
  background-size:50%;
}
#front-section.e-commerce{
  background-image: url('../img/bg/background1.jpg');
  background-blend-mode:color;
}
#front-section.dynamic{
  background-image: url('../img/bg/Dynamic-Website-Design-Company.jpg');
  background-blend-mode:soft-light;
 
}
#front-section.word-press{
  background-image: url('../img/bg/wordpress-developer-pune.jpg');
  background-blend-mode:color-burn;
 
}
#front-section.responsive{
  background-image: url('../img/bg/responsive-web-design.jpg');
  background-blend-mode:color;
 
}
#front-section.software{
  background-image: url('../img/bg/software-development.jpg');
  background-blend-mode:color;
 
}

#front-section.portal{
  background-image: url('../img/bg/portal-website-developement.jpg');
  background-blend-mode:color;
 
}
#front-section.seo{
  background-image: url('../img/bg/seo-expert.jpg');
  background-blend-mode:multiply;
 
}

#front-section.graphic{
  background-image: url('../img/bg/graphic-designer.jpg');
  background-blend-mode:color;
 
}

#front-section.cms{
  background-image: url('../img/bg/cms-development-company.jpg');
  background-blend-mode:color;
 
}

#front-section.ios{
  background-image: url('../img/bg/iOS-app-development.jpg');
  background-blend-mode:color;
 
}
#front-section.hybrid{
  background-image: url('../img/bg/hybrid-development.jpg');
  background-blend-mode:multiply;
 background-size: cover;
}

#front-section > div{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width:992px){
  #front-section{
      padding: 7rem 0;
  }
}
@media(max-width:520px){
  #front-section{
      padding: 5rem 0;
  }
}
#front-section .title{
  color: #fff;
  font-size: 40px;
}

#front-section .stars{
  padding: 2rem 0;
}
#front-section .stars i{
font-size: 20px;
color: goldenrod;
}

#front-section p.title-desc{
color: white;
font-size: 14px;
text-align:start;

}

#front-section a.button{
  font-weight: bolder;
  margin-top: 10px;
  font-size: 14px;
  padding:5px; 
  
  
  display: inline;
}

#front-section a.yellow{
  color:#fff;
}
#front-section a.white{
  color:#255dbed4;
}



#front-section form {
  background: #fff;
  width: 100%;
  border-radius:10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  
}

#front-section form .form-elements{
  padding:10px;
}
#front-section form header{
  color: #fff;
  background: #3970d0;
  padding: 10px 15px;
  font-size: medium;

}
#front-section form header i{
 margin-right:10px ;
}



#front-section form input,
#front-section form textarea{
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid; 
  padding: 5px;
  margin-top: 15px;
  font-size: 15px;
}

#front-section form input:hover,
#front-section form input:focus,
#front-section form input:active,
#front-section form textarea:hover,
#front-section form textarea:focus,
#front-section form textarea:active{
  outline: none;
  background: none;
}

#front-section form button{
  width: 100%;
}
/* End Front Section */




/* Review section */
#reviews-carousel .owl-item.center {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: none;
}

#reviews-carousel {
  width: 100%;
}

#reviewa-carousel .owl-item {
  display: grid;
  place-items: center;
  padding: 10px;
}
#reviews-carousel .box {
  padding: 10px;
  box-shadow: rgb(253, 253, 253,0.50) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px;
}

#reviews-carousel .box .heading {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 7rem;
}

#reviews-carousel .box .heading img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#reviews-carousel .box .heading .stars {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
#reviews-carousel .box .heading .stars i {
  color: gold;
  font-size: large;
}

#reviews-carousel .box .text-box {
  padding: 10px;
}
#reviews-carousel .box .title-name {
  font-weight: 600;
  text-align: center;
}
#reviews-carousel .box .text-box p {
  font-size: 12px;
}

/* End Review section */

/* award section */


#award .black-section{
  background: #040404e8;

  padding: 3rem 1rem 0 0;
}

#award .black-section h4{
  color: #fff;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 2rem;
}

#award .black-section p{
color: #fff;
font-size: 14px;
font-weight: lighter;
text-align: center;

}

#award-carousel{
  padding-top: 40px;
}
#award-carousel .div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

#award-carousel .owl-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

#award-carousel .div i{
  font-size: 50px;
  color: #fff;
  margin-bottom: 10px;
}

#award-carousel .div h2{
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
}

#award .blue-section{
  background:#3970d0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
#award .blue-section .box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 0;
  
}
#award .blue-section i{

  font-size: 60px;
  color: #fff;
}

#award .blue-section h3{
  font-size: 18px;
  color: yellow;
}



#award .blue-section p{
font-size: 15px;
color: #fff;
}

/* End award section */

/* About section*/


#about{
  width: 100%;
  margin: 0;
  margin: 2rem 0;
}

#about .title-box{
  display: grid;
  place-items: center;
  background: #3970D0;
  padding: 2rem;
  text-align: center;
  border-radius: 30% 0 30% 0%;
  transition: 0.5s ease;
}

#about .title-box:hover{
  border-radius:0% 30% 0% 30%;
}





#about .title-box h2{
  color: #fff;
  font-size: 1.7rem;
  
}

#about .par-box{
  padding: 2rem;
  text-align: justify;
  font-size: 15px;
  font-weight:800;
}
/* End About section*/


/* features */
#features{
  padding: 5rem 0;
  background: #F7F7F7;
}
#features .ul-li{
  display: grid;
  place-items: center;
  padding-top: 3rem;
}
#features .ul-li ul li{
padding: 5px 0;

}

#features .ul-li ul li i{
  color:rgb(25, 235, 25);
}
#features .ul-li ul li span{
font-size: 15px;
color: black;
padding-left: 5px;
  
  }
  

/* End features */

/* Front-Heading */

#front-heading{
  background-color: #3967B7;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  height:80% ;
  color: #fff;
}
#front-heading.our-work{

background-image: url("../img/bg/our-creative-work.jpg");
background-blend-mode:soft-light;

}
#front-heading.career{

  background-image: url("../img/bg/career.jpg");
  background-blend-mode:soft-light;
  
  }

  #front-heading.about-us{

    background-image: url("../img/bg/about-us.jpg");
    background-blend-mode:soft-light;
    
    }

    #front-heading.contact-us{

      background-image: url("../img/bg/contact-us.jpg");
      background-blend-mode:soft-light;
      
      }
#front-heading a.yellow{
background: #F99E1C;
color: #fff;
font-weight: bolder;
}
#front-heading h1{
  text-align: center;
}
#front-heading p{
  font-size: 14px;
  text-align: center;
}


/* End Front-Heading */


/* openings at career page*/
#openings{
  padding: 5rem 0;
}
#openings .heading{
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  padding: 0 0 1rem 0;
}
#openings form{
  background:#F2F2F2;
  padding: 2rem;
}

#openings .results{
  padding: 3rem 0;
}
#openings .results .box{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
padding: 1rem;
border-radius: 1rem;
margin-top: 1rem;
}
#openings .results .box .title-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#openings .results .box .title-content .heading-content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


#openings .results .box .title-content .heading-content .icon{
  padding:0 1.5rem;
}
#openings .results .box .title-content .tale-content{
  display: flex;
  justify-content:center;
  align-items:flex-end;
  
}

#openings .results .box .title-content .tale-content .full-time{
padding-right: 2rem;
}

#openings .results .box .title-content .heading-content .title{
  font-size: 1.5rem;
  font-weight: 800;
}
#openings .results .box  .icon img{
  width: 3rem;
  height: 3rem;
}



#openings .results .box .desc{
  font-size: .9rem;
  padding: 1rem;
  text-align: justify;
}

/*End openings at career page */

/* Detail at About us page */

#details{
  padding: 4rem 0;
  background: #F7F7F7;
}

#details p{
  font-size: 0.9rem;
  line-height: 1.5rem;
}
/*End Detail at About us page */


/* Boxs section in About-us page */
#boxs{
  padding: 3rem 0;
}

#boxs  .box{
  border: 1px solid #ccc;
  border-radius: .5rem;
  display: flex;
  justify-content:space-around;
  align-items:center;
  flex-direction: column;
  padding: 1rem;
 height: 100%;
  
}

#boxs .box img{
width: 6rem;
height: 6rem;
margin-bottom: 1rem;


}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
#boxs .box h3{
font-size: 25px!important;
 font-family: 'Poppins', sans-serif;  
  font-weight: 900;
  color: #F99E1C;
  


}
#boxs .box p{
  text-align: center;
  font-size: 0.9rem;

}
/* End Boxs section in About-us page */

/* contact us page */
#address{
  padding: 5rem 0;
  line-height: 1.7rem;
}
#address form {
  background: #fff;
  width: 100%;
  border-radius:10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  
}

#address p{
  font-size: 0.9rem;
}

#address form .form-elements{
  padding:10px;
}
#address form header{
  color: #fff;
  background: #3970d0;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 2px #000;

}
#address form header i{
 margin-right:10px ;
}



#address form input,
#address form textarea{
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid; 
  padding: 5px;
  margin-top: 15px;
  font-size: 15px;
}

#address form input:hover,
#address form input:focus,
#address form input:active,
#address form textarea:hover,
#address form textarea:focus,
#address form textarea:active{
  outline: none;
  background: none;
}

#address form button{
  width: 100%;
}